
body{
    text-align:center;
    background:url("backg.jpg");
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
    background-attachment:fixed;

    color:black;
    font-family:Helvetica;
}

h1{
    text-align:left;
}

p{
    font-size:36px;
}

input{
    border:0;
    padding:12px;
    font-size:18px;
}

input[type="submit"]{
    background:CC0000;
    color:black;
}
.roundrect{
    border-radius: 50px;
}

ul {
 list-style: none;
}

.page .nav {
    text-align:left;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu {
    display: flex;
    justify-content: space-around;
}

img{
    border-style: none;
}
a {
    text-decoration: none;
}

.roundrect:hover{
    opacity:0.4
}

#home {
  position: relative;
  height: 85px;
  width: 85px;
}

#2nd {
  position: relative;
  height: 85px;
  width: 85px;
}

#3rd {
  position: relative;
  height: 85px;
  width: 85px;
}

#4th {
  position: relative;
  height: 85px;
  width: 85px;
}

.imgD {
  z-index:-1;
  position: relative;
  bottom: 79px;
  left: 3px;
  font-weight:bold;
  font-size:22px;
}



